﻿<div class="row">
    <div class="col-md-4">
        <h4>Входни данни</h4>
        <p>
        Променлива 1: @ViewBag.a<br />
        Променлива 2: @ViewBag.b<br />
        </p>
    </div>
    <div class="col-md-4">
        <h4>Резултат: (GET)</h4>
        
    </div>
    <div class="col-md-4">
        
            <h4>Параметри на заявката</h4>
            <p>
               @foreach (var item in ViewBag.p)
            {
                <!-- @item <br />  -->
            }
            </p>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="row">
            <form role="form" method="post" class="col-md-9 go-right">
                <h2>Calculator</h2>
                <div class="form-group">
                    <input name="a" type="number" class="form-control" value="@ViewBag.a">
                    <label for="name">First Param</label>
                </div>
                <div class="form-group">
                    <input name="b" type="number" class="form-control" value="@ViewBag.b">
                    <label for="name">Second Param</label>
                </div>
                <div class="form-group">
                    <select name="operation">
                        <option value="add">+</option>
                        <option value="sub">-</option>
                        <option value="mul">*</option>
                        <option value="div">/</option>
                    </select>

                </div>
                <button type="submit" class="btn btn-success">Do magic</button>
                <h4>Резултат: (POST)</h4>
                <h4>Операция: @ViewBag.Operation</h4>
                <p>
                    Резултат: @ViewBag.result
                </p>
            </form>
        </div>
    </div>
</div>
